.header {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #282c34;
}

.list {
  display: flex;
  gap: 14px;
  font-weight: 600;
  font-size: 24px;
}

.link {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  &__active {
    color: #f78f18;
  }
}
